*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-color: rgb(19, 19, 19);
}

.App{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.component-player{
    background-color: rgb(37, 37, 37);
    display: block;
    margin:0px auto;
    padding:30px;
    border-radius: 13px;
}

.details-img{
    position: relative;
    width:fil-content;
    margin:0 auto;
}

.details-img, img{
    border-radius: 3px;
    max-width:260px;
    max-height:260px;
}

.details-title{
    color: rgb(230, 230, 230);
    display:flex;
    justify-content: center;
    padding: 1px;
}

.details-artist{
    color: rgb(230, 230, 230);
    display:flex;
    justify-content: center;
}
.component-player--controls{
    display:flex;
    justify-content: center;
    padding: 5px;
}

.play-btn{
    display:flex;
    justify-content: center;
    font-size: 23px;
    padding: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.skip-btn{
    color: rgb(126, 126, 126);
    background: none;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 12px ;
}

component-player,  p {
    color:rgb(129, 129, 129);
    display:flex;
    justify-content: center;
}